<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>

    <div class="container-fluid">
        <header>
            <div class="container-fluid bg-primary" style="height:100px">
                <div class="row">
                    <div class="col">Este é o cabeçalho da página</div>
                </div>
            </div>
        </header>

        <main>
            <div class="container-fluid bg-secondary" >
                <div class="row" style="height:600px">
                    <div class="col-2 bg-warning">
                        <aside>
                            <h3>Menu de Opções</h3>
                            <div class="ul">
                                <div class="li">item 1</div>
                                <div class="li">item 2</div>
                                <div class="li">item 3</div>
                                <div class="li">item 4</div>
                                <div class="li">item 5</div>
                                <div class="li">item 6</div>
                            </div>
                        </aside>
                    </div>
                    <div class="col-8">Este é o corpo da página</div>
                    <div class="col-2 bg-warning" ></div>
                </div>
            </div>
        </main>

        <footer>
            <div class="container-fluid bg-info" style="height:50px">
                <div class="row">
                    <div class="col">Este é o rodapé da página</div>
                </div>
            </div>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


  </body>
</html>