<footer class="bg-dark py-3 my-2 {{var_position}}">
    <div class="container-fluid">
        <div class="row text-white d-flex justify-content-around">
            <div class="col-md-2">
                <h6 class="text-uppercase fw-bold text-info">Quem somos</h6>
                <p>Lorem ipsum inventore magnam maxime quas quis! ducimus nulla quasi.</p>
            </div>
            <div class="col-md-4">
                <h6 class="text-uppercase fw-bold text-info">Onde queremos chegar?</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea eveniet facere ipsam laboriosam! Aliquam
                    architecto, culpa delectus ducimus et iure modi molestias, nisi odit quaerat quis ratione
                    reprehenderit, similique sunt?</p>
            </div>
            <div class="col-md-2">
                <h6 class="text-uppercase fw-bold text-info">Siga-nos nas redes</h6>
                <p>
                    <i class="fa-brands fa-youtube"></i>
                    <a class="text-white" style="text-decoration:none" href="#">Youtube</a>
                </p>
                <p>
                    <i class="fa-brands fa-github"></i>
                    <a class="text-white" style="text-decoration:none" href="#">Github</a>
                </p>
            </div>
        </div>
    </div>
</footer>